.blog-section {
}

.blog-title {
  font-size: 4.4rem;
  font-weight: 700;
  color: #21243d;
  margin-bottom: 40px;
}

.blog-post {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.blog-post h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: #21243d;
}

.post-meta {
  font-weight: 400;
  font-size: 2rem;
  color: #21243d;
  margin-bottom: 1.5rem;
}

.post-meta a {
  color: #6c6c6c;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.blog-post p {
  font-weight: 400;
  font-size: 2.7rem;
  color: #21243d;
}
