.heder--after {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 14rem;
  gap: 11.5rem;
}
.after--img {
  object-fit: cover;
  border-radius: 50rem;
  object-fit: cover;
}
.after {
}
.after--name {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5rem;
  color: #21243d;
  margin-bottom: 4rem;
}
.after--titl {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #21243d;
  margin-bottom: 3.8rem;
}

@media screen and (max-width: 450px) {
  .heder--after {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .after--img {
    border-radius: 50rem;
    width: 174.38px;
    height: 180px;
  }
  .name {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1rem;
    color: #21243d;
    text-align: center;
  }
  .after--name {
    text-align: center;
  }
  .after--titl {
    font-weight: 400;
    font-size: 1.6rem;

    color: #21243d;
    text-align: center;
  }
  // .main-container {
  //   overflow-x: hidden;
  // }

  .header-btn a {
  }
}
.main--cart {
  display: flex;
  margin-top: 9.4rem;
  background-color: #edf7fa;
  padding-top: 1rem;
  padding-bottom: 3.9rem;
  gap: 2rem;
}
.min--cart-article {
  display: flex;
  justify-content: center;

  gap: 2rem;
}
.min--er {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.min-link,
.article__name {
  margin-top: 2.7rem;
  margin-left: 11rem;
  margin-right: 11rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2rem;
  color: #00a8cc;
}
.article__name {
  color: #21243d;
}
.crt {
  margin-top: 2rem;
  margin-bottom: 3.2rem;
  padding: 2.4rem 1.2rem 0.7rem 2.3rem;
  align-items: center;
  background-color: white;
  width: 418px;
  height: 295px;
}
.cart__name {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 100%;
  color: #21243d;
  margin-bottom: 1.7rem;
}
.cart__data {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 100%;
  color: #21243d;
  margin-top: 1.7rem;
}
.cart__titl {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 3rem;
  color: #21243d;
  margin-top: 2rem;
}

@media screen and (max-width: 450px) {
  .main--cart {
    width: 375px;
    height: 647px;
  }
  .min--cart-article {
    flex-direction: column;
  }
  .min--er a {
    display: none;
  }

  .article__name {
    margin-left: 0rem;
    flex-direction: column;
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
  }

  .crt {
    padding: 1.2rem 2.1rem 2.2rem 1.9rem;
    width: 274px;
    height: 266px;
    margin: 0;
  }

  .cart__name {
    margin-bottom: 1.2rem;
  }
  .cart__titl {
    line-height: 100%;
    font-size: 1.4rem;
  }
}

.featured-works {
  // max-width: 400px;
  margin: 0 auto;
}

.featured-works h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
  color: #21243d;
}

.work-card {
  display: flex;
  gap: 8.1rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2rem;
}

.work-card img {
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
}

.work-content h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  margin: 0.8rem;
  color: #21243d;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.year {
  background-color: #142850;
  color: #fff;
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.category {
  color: #8695a4;
  font-size: 1.4rem;
}

.work-content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #212121;
}
