.btn {
  color: white;
  background-color: #ff6464;
  padding: 1rem 2.1rem 1rem 2rem;
  font-weight: 500;
  font-size: 2rem;

  border-radius: 0.2rem;
}

@media screen and (max-width: 450px) {
  .btn {
    display: flex;
    justify-content: center;
  }
}
